PORT=5173
NODE_ENV="development" # development or production
BODY_SIZE_LIMIT="1G"
IMAGE_VERSION="staging" # staging or latest
PUBLIC_API_URL=http://localhost:3000

REDIS_PORT=6002
REDIS_PASSWORD=NasiGorengSeafood
REDIS_URL=redis://:NasiGorengSeafood@localhost:6011

